* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 12pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  background-color: #EDBAAE;
  background-image: url("../assets/stacked-waves-haikei.svg");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  padding-top: 20px;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 2.3rem;
  font-family: "Permanent Marker", cursive;
  padding-right: 30px;
  margin: 0px 0px 20px;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 30px 0px 5px;
  padding: 5px 0px 10px;
  border-bottom: 3px dotted #d8c1bc;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #fff8f8;
  box-shadow: -2px 5px 15px 10px #d3beb9;
  margin: 10px;
}
.container .title-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.pencil {
  height: 40px;
  width: 15px;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 2px;
  background: linear-gradient(to right, #f26c37 33.33%, #eb852c 33.33%, #eb852c 66.66%, #f19f22 66.66%);
  animation: draw 5s infinite linear;
}

@keyframes draw {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  25% {
    transform: rotate(25deg);
  }
  40% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.pencil:before {
  content: "";
  position: absolute;
  height: 17px;
  width: 15px;
  top: 0;
  left: 0;
  background: linear-gradient(#ed3569 50%, #d2dfe8 50%) no-repeat, linear-gradient(to right, #f26c37 33.33%, #eb852c 33.33%, #eb852c 66.66%, #f19f22 66.66%);
  background-size: 100% 40%, 100% 60%;
  background-position: 0 0, 0 100%;
  border-radius: 2px 2px 0 0;
}

.pencil:after {
  content: "";
  position: absolute;
  height: 21px;
  width: 15px;
  background: linear-gradient(#f4c09b 70%, #0d2436 70%);
  right: 0;
  bottom: -20px;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}

.check {
  position: absolute;
  left: 0;
  top: 5px;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-left: 7px;
  cursor: pointer;
}

.heading-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 20px 0px 10px 0px;
  border-bottom: 3px dotted #d8c1bc;
}

.remove-icon {
  background-image: url(../assets/trash-fill.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  margin: 8px;
  cursor: pointer;
}

ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px 0px 0px;
  margin: 0;
  list-style: none;
}
ul li {
  font-size: 1.15rem;
  position: relative;
  padding: 6px 0px 7px 37px;
  margin: 5px 0px;
  border-bottom: 1px solid #d5c1c1;
  transition: 0.2s;
}

ul li:hover {
  background: #eddddb;
}

ul li.checked {
  background: #bba59e;
  color: #fff;
  text-decoration: line-through;
}

#list-container {
  width: 100%;
}

.finished-list {
  padding: 0;
}

.finished {
  font-weight: 300;
}

form {
  display: flex;
  width: 100%;
}

.input-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 25px 0px 0px;
}
.input-container input {
  width: 100%;
  padding: 8px;
  border: 2px solid #997e78;
  font-size: 1rem;
}

#add-btn {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0px 0px 0px 10px;
  font-size: 1rem;
  padding: 7px 15px;
  background-color: #e3cac5;
  box-shadow: -1px 2px 5px 2px #9c8681;
  transition: transform 0.3s;
}
#add-btn:hover {
  background-color: #cfb5b1;
}

#sort-btn {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0px 0px 0px 10px;
  font-size: 0.8rem;
  padding: 7px 15px;
  background-color: #e3cac5;
  box-shadow: -1px 1px 5px 1px #9c8681;
  transition: transform 0.3s;
}
#sort-btn:hover {
  background-color: #cfb5b1;
}

.finished {
  position: relative;
  text-decoration: line-through;
}

.add-back-icon {
  background-image: url(../assets/plus-square.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  margin: 8px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container {
    width: 30%;
    margin: 0 auto;
  }
}